.git
.gitignore
.dockerignore
compose.yaml
compose.yml
docker-compose.yml
docker-compose.yaml

.idea/
.vs/
.vscode/

**/bin/
**/obj/
**/out/
**/TestResults/

**/*.user
**/*.rsuser
**/*.suo
**/*.swp
**/*.log
**/*.http

.env
.env.*

**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.*.local.json
**/Properties/launchSettings.json

.DS_Store
Thumbs.db